.Panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    background: #fafbfc;
    border-right: 1px solid #e1e4e8;
    z-index: 1000001;
    height: 100vh;
}

.CloseCross {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.PanelTreeContent {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 10px;
    right: 0;
    overflow: auto;
}

@media screen and (min-width: 1321px) {

    .pretty_view_pull_request_body_decorating {
        margin-left: 301px;
    }
}
@media screen and (min-width: 1421px) {

    .pretty_view_pull_request_body_decorating {
        margin-left: 401px;
    }
    .Panel {
        width: 400px;
    }
}