.PluginIcon
{
    position: fixed;
    left: 10px;
    top: 10px;
    width: 36px;
    height: 36px;
    border-radius: 3px;
    background: #e1e4e8;
    background-size: cover;
    z-index: 1000000;
    cursor: pointer;
}

.PluginIcon img {
    width: 36px;
    height: 36px;
}