.TreeItem a {
    text-decoration: none;
    color: #0366d6;
    font-weight: 500;
}

.TreeItem a.visited {
    font-weight: 400;
    color: #000;
}

.TreeItem a:hover {
    color: #040404;
    text-decoration: underline;
}

.TreeItem {
    padding-left: 10px;
}

.TreeItem-folder {
    font-weight: bold;
}